@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=Poppins:wght@300;400;600&display=swap');

:root {
  --alabaster-grey: #d8e2dc;
  --powder-petal: #ffe5d9;
  --pastel-pink: #ffcad4;
  --cherry-blossom: #f4acb7;
  --dusty-mauve: #9d8189;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--powder-petal);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Navigation bar styles */
.navbar {
    background-color: var(--dusty-mauve);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--powder-petal);
}
/* End of Navigation bar styles */ 


main {
    padding: 0 20px 90px 20px;
    min-height: calc(100vh - 60px); /* Adjust based on navbar and footer height */
}

/* --------- Home Page --------------*/
.hero-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}
.hero {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.hero-image {
    padding-right: 30px;
}

.hero-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    border-radius: 8px;
}

.hero-text h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--dusty-mauve);
    line-height: 1.1;
    margin: 0;
}

.hero-text {
    flex: 1;
}

button {
    background-color: var(--cherry-blossom);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--dusty-mauve);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(157, 129, 137, 0.5); /* Focus ring for accessibility */
}
/* --------- End of Home Page --------------/


/* --------- Under Portfolio Page --------------*/
/* Table styling */

/* Resizing the images in the table to fit the screen */
table img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* border-radius: 8px; */
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;  /* To remove the space between table cells */
    margin-top: 20px;
    background-color: var(--alabaster-grey);
}

th, td {
    padding: 12px;
    text-align: left; /* The header and data are aligned to the left for better readability. */
    border-bottom: 1px solid var(--dusty-mauve);
}

th {
    background-color: var(--cherry-blossom);
    color: #fff;
}
/* End of Table styling */
/* --------- End of Portfolio Page --------------*/


/* -------------About Page-------------- */
.frustration-gif {
    max-width: 300px;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}
/* -------------End of About Page-------------- */


footer {
    background-color: var(--dusty-mauve);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer p{
    text-align: start;
}
