:root {
  --alabaster-grey: #d8e2dc;
  --powder-petal: #ffe5d9;
  --pastel-pink: #ffcad4;
  --cherry-blossom: #f4acb7;
  --dusty-mauve: #9d8189;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--power-petal);
}

.navbar {
    background-color: var(--dusty-mauve);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
}
nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
    color: var(--powder-petal);
}

